@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Open+Sans&display=swap");
.container {
  background-color: #00758a;
}

.lengthFont {
  font-size: 2rem;
}

.timer,
.heading {
  font-size: 4rem;
}

.timerLabel {
  font-size: 2rem;
}

.heading {
  padding-bottom: 2rem;
  font-family: "Cutive Mono", monospace;
  color: white;
}

.controls {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 5px solid black;
  border-radius: 25px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.clock {
  padding-bottom: 1.5rem;
  border: 5px solid black;
  border-radius: 25px;
  margin-left: 1rem;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.button {
  box-shadow: none !important;
}
